<!DOCTYPE html>
<html ng-app="app" ng-controller="rootController" ng-cloak>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <title ng-bind="app.title"></title>
    <link rel="shortcut icon" href="/static/image/logo-64.png" type="image/png">
    <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/app.css?v=201611252357">

    <!--[if lt IE 9]>
    <script src="/static/vendor/js/html5shiv.min.js"></script>
    <script src="/static/vendor/js/respond.min.js"></script>
    <![endif]-->

    <script src="/static/vendor/js/jquery.min.js"></script>
    <script src="/static/vendor/js/bootstrap.min.js"></script>
    <script src="/static/vendor/js/angular.min.js"></script>
    <script src="/static/vendor/js/angular-sanitize.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/vendor/js/pdfjs/build/pdf.js"></script>
    <script src="/static/vendor/js/paper-core.min.js"></script>

    <script src="/static/js/app.js?v=201611252356"></script>
    <script src="/static/js/util.js?v=201611120910"></script>
</head>
<body>
<div class="vertical-center" ng-show="downloadProgress!=undefined">
    <div class="inner">
        <img src="/static/image/loading.gif" class="img-responsive center-block">
    </div>
</div>
<div class="canvas-wrapper">
    <canvas id="canvas-pdf" class="canvas"></canvas>
    <canvas id="canvas-board" class="canvas"></canvas>
    <canvas id="canvas-board-buffer" class="canvas"></canvas>
    <div class="canvas-cursors">
        <div class="cursor" ng-show="data._active" ng-repeat="(uid, data) in mouse_positions"
             ng-style="{'top': data.y * scale, 'left': data.x * scale, 'color': get_user(uid).color}">
            <span class="glyphicon glyphicon-pencil"></span>
        </div>
    </div>
</div>
<div class="vertical-center" ng-show="show_home_menu">
    <div class="inner">
        <div class="row center-block">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="/static/image/logo-128.png">
                            <h1>{{app.name}}</h1>
                            <hr ng-hide="uploadProgress">
                            <div class="progress" ng-show="uploadProgress">
                                <div class="progress-bar" ng-style="{'width': uploadProgress + '%'}"></div>
                            </div>
                            <input type="file" id="input-pdf" class="hidden" name="pdf" accept="application/pdf">
                            <button class="btn btn-primary btn-lg" ng-click="startPresentation()">Start Presentation</button>
                            <p><br>{{app.copyright}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="toolbar">
    <span ng-show="downloadProgress!=undefined">Loading "{{status.file_name}}" ({{downloadProgress}}%)</span>
    <a class="btn-icon" ng-click="load_prev_page()" ng-show="pdf && id == status.host"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <span class="text-primary" ng-show="pdf && status.page!=undefined">{{status.page}}/{{pdf.numPages}}</span>
    <a class="btn-icon" ng-click="load_next_page()" ng-show="pdf && id == status.host"><span class="glyphicon glyphicon-arrow-right"></span></a>
    <a class="btn-icon" ng-click="refresh()" ng-show="pdf"><span class="glyphicon glyphicon-refresh"></span></a>
    <a class="btn-icon" ng-show="status.file_id" ng-href="/pdf/{{status.file_id}}" ng-attr-download="{{status.file_name}}"><span class="glyphicon glyphicon-download-alt"></span></a>
    <a class="btn-icon" ng-click="toggle_fullscreen()"><span class="glyphicon glyphicon-fullscreen"></span></a>
    <a class="btn-icon" ng-click="show_home_menu=!show_home_menu"><span class="glyphicon glyphicon-home"></span></a>
</div>
</body>
</html>
